#titles {
  text-align: center;
}

#buttonsTab {
  text-align: center;
}

#description {
  margin-left:5%;
  margin-right:5%;
}

#results {
  margin:5%;
}

body > .skiptranslate {
//display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}
body {
  top: 0px !important;
}

@media print {
  #google_translate_element {display: none;}
}
